extends layout

block content
  each value in data
    div(class="post")
      div
        img(src=value['image'])
      div(class="infos")
        span(class="title")=value['title']
        br
        span(class="desc")=value['shortDescription']
        -let date = new Date(value['createdAt'])
        -let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
        -let formated = months[date.getMonth()]+' '+date.getDay()+', '+date.getFullYear()
        p(class="date")=formated

